.myOrder{
text-align: center;
    li{
    background-color: rgb(98, 171, 171);
    height: 350px;
    list-style: none;
    padding: 10px;
    width: 550px;

}
}

.MyOrder{
    height: 350px;
    list-style: none;
    padding: 10px;
    width: 550px;
    margin:25px;
    text-align: center;
}