nav{
    display: flex;
    
   margin: 25px;
   ul{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
   
   li{
    list-style: none;
    color:white;
    padding: 35px;
    font-size: 25px;
  
  
    a{
        color: rgb(8, 7, 7);
        background-color: aliceblue;
        border-radius: 25px;
        padding: 10px;
        text-decoration: none;
       
    }
    
   }
   }
  a:hover{
    background-color: black;
    color: antiquewhite;
  }
  
}